body{

    font-family:Poppins;
    margin:0;
    color:white;

    /* Fundo camuflado */

    background-color:#1b2a1b;

    background-image:
            radial-gradient(#3b5d3b 20%, transparent 20%),
            radial-gradient(#4c6b3c 20%, transparent 20%),
            radial-gradient(#2e4a2e 20%, transparent 20%);

    background-size:120px 120px;
    background-position:0 0, 60px 60px, 30px 30px;

}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#111;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

header{
    text-align:center;
    padding:80px 20px;
}

header img{
    width:180px;
    border-radius:50%;
    border:4px solid #8fae63;
}

.btn{
    background:#8fae63;
    padding:12px 20px;
    border-radius:8px;
    text-decoration:none;
    color:#111;
    font-weight:bold;
}

section{
    padding:60px 20px;
    max-width:1000px;
    margin:auto;
    text-align:center;
}

.tech{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.tech img{
    width:60px;
    transition:0.3s;
}

.tech img:hover{
    transform:scale(1.2);
}

.projetos{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
    width:250px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    background:#8fae63;
    color:#111;
}

#typing::after{
    content:"|";
    animation:blink 1s infinite;
}

@keyframes blink{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
}